header{
    width: 100%;
    background-color: white;
    height: 50px;
}
.container{
    max-width: 1090px;
    margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.menu__list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}
.menu__link{
    text-decoration: none;
    color: black;
}